
<!DOCTYPE html>
<html>
<head>
    <title>Forget Me Not</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
    <link rel='stylesheet' type='text/css' href='/stylesheets/nav.css' />
</head>

<body>
  <div class="topnav">
    <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/add">Add</a></li>
    <li class="dropdown">

 <!--          <li class='main_button'> ?
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C
          <ul>
            <li class='sub'>c</li>
            <li class='sub'>cc</li>
          </ul>
        </li>
      </ul>
    </li> -->
      <a href="javascript:void(0)" class="dropbtn">Shop</a>
      <div class="dropdown-content">
         <a href="/results?shop=V and A Fashion">V+A Fashion</a>
        <a href="/results?q=pooh&shop=V and A Pooh">Pooh</a>
       
        <!-- <a href="/results?shop=Kew Gardens">Kew</a> -->
        <a href="/results?shop=Kew Books">Kew Books</a>
        <a href="/results?shop=Tate Books">Tate Books</a>
        
        <a href="/results?shop=Kew Gifts">Kew Gifts</a>
        <a href="/results?shop=Tate Gifts">Tate Gifts</a>
        
        
        <!-- <a href="/results?shop=Tate">Tate</a> -->
        
        <a href="/results?shop=Kew Homeware">Kew Home</a>
        <a href="/results?shop=Tate Homeware">Tate Home</a>
        <a href="/results?shop=V and A Home">V+A Home</a>

         <a href="/results?shop=Etsy">Etsy</a>
         <a href="/results?shop=Kew Food">Kew Food</a>
        <a href="/results?shop=ZSL London Zoo">London Zoo</a>
        
      </div>
    </li>
    <li class="dropdown">

 <!--          <li class='main_button'> ?
      <ul>
        <li>A</li>
        <li>B</li>
        <li>C
          <ul>
            <li class='sub'>c</li>
            <li class='sub'>cc</li>
          </ul>
        </li>
      </ul>
    </li> -->
      <a href="javascript:void(0)" class="dropbtn">Item</a>
      <div class="dropdown-content">
         <a href="/results?by_item=true&q=shirt">Shirt</a>
         <a href="/results?by_item=true&q=kids">Kids</a>
         <a href="/results?by_item=true&q=toy">Toys</a>
        
        
      </div>
    </li>

     
     <% if defined? @shops %>
        <% @shops.each do |shop| %>
          <a class='jump_to_shop' href='#<%=shop%>'><%=shop%></a>
        <% end %>
     <% end %>

     <% if defined? @current %>
      <h1 class='shop'>
        <%=@current%>
        <% if defined? @total %>
            <span class='total'>(<%=@total%>)</span>
         <% end %>
      </h1>   
    <% end %>
  </ul>
    
<!-- 
  <a class="active" href="/">
    <img class='icon' src='/img/noun_Forget Me Not_2194920.png' /> 
    Friends</a>
  <a href="/add">Add</a>
  <a href="/results">Find</a>
  -->
 
  <% if defined? @searchbar %>

    <form class='search' method="POST" action="/results?shop=<%=@current%>" >
      <input type='text' style='min-width=100%;min-height=100%;' name='search' /> 
      <input type='submit'/>
    </form>
  <% end %>


</div>
<div class='notnav'>

  <%= yield %>
<!-- <p>Forget Me Not by tulpahn from the Noun Project</p> -->
</div>

</body>
</html>