
  <div class='results-wrapper'>

     <% @results.each do |item| %>

      <% if item['shop'] == 'Etsy' %>
        <% @image = item['Images'].first['url_570xN']%>
        <% @link = item['link'] %>
        <% @price = item['price'] %>
      <% else %>
         <% @image = item[:image] %>
         <% @link = item[:link] %>
         <% @price = item[:price] %>
      <% end %>
    <!-- image with link -->
    <div class="list">
    <a class='results' href="<%=@link%>" target="_blank">

    

      <img class='img_result' src="<%=@image%>" />
     
      <h2>
         <span style='font-weight=700;'><%= @price %> </span>
        <%= item['currency']%>
      </h2>
       <% if item['shop'] == 'Etsy' %>
         <p>Delivered in 
          <span style='font-weight=700;'><%=item['from']%></span> to
          <span style='font-weight=700;'><%=item['to']%></span> days
         </p>
       <% end %>

       <% if item['shop'] == 'Etsy' %>
          <% item["data"].each_pair do |k,v| %>
              <p><%=v%></p>
          <% end %>
        <% else %>
          <p><%=item[:title]%></p>  
        <% end %>

        </a>
    </div>
    <% end %>
  </div>

