


<div class='results-wrapper'>

   <% @results.each do |item| %>

  <!-- image with link -->
  <div class="list">
  <a class='etsy' href="<%=item['url']%>" target="_blank">
  
    <img class='img_result' src="<%=item['Images'].first['url_570xN']%>" />
   
    <h2>
       <span style='font-weight=700;'><%= item['price'] %> </span>
      <%= item['currency']%>
    </h2>
     <p>Delivered in 
      <span style='font-weight=700;'><%=item['from']%></span> to
      <span style='font-weight=700;'><%=item['to']%></span> days
     </p>
      <% item["data"].each_pair do |k,v| %>

     <p><%=v%></p>

    <% end %>
      </a>
  </div>

  <% end %>

</div>
