
  <div class='results-wrapper'>
      <% @lastshop='' %>
     <% @results.each do |item| %>

      <% if item[:shop] == 'Etsy' %>
        <% @image = item[:images].first['url_570xN']%>
      <% else %>
         <% @image = item[:image] %>
      <% end %>

    <!-- image with link -->
    <% @class=item[:categories].join(" ") %>
    <% if @lastshop!=@name %>
        <div class="newlist list column <%=@class%>" id="<%=@name%>">
      <%else%>
      <div class="list column <%=@class%>">
    <% end %>
    
      <img class='results-icon' src="<%=BACKUP_PRODUCT_IMAGES[item[:shop]]%>" />
    <a class='results' href="<%=@link%>" target="_blank">

          <img class='img_result' src="<%=@image%>" />      

          <h2>
             <span style='font-weight=700;'><%= @price %> </span>
            <%= item['currency']%>
          </h2>
        
          <% if item[:shop] == 'Etsy' %>
           
           <p>Delivered in 
            <span style='font-weight=700;'><%=item['from']%></span> to
            <span style='font-weight=700;'><%=item['to']%></span> days
           </p>
          
         <% end %>
       

         <% if item[:shop] == 'Etsy' %>
         
            <% item[:data].each_pair do |k,v| %>
                <p><%=v%></p>
            <% end %>
         
          <% else %>

            <h4><%=item[:title]%></h4>  
            <% if not item[:author].nil? %>
              <p class='grid_bottom'><%=item[:author]%></p>  
            <% end %>
          <% end %>

          </a>
        
    </div>
    <% @lastshop = @name %>
    <% end %>
  </div>

