
  <div class='results-wrapper'>
      <% @lastshop='' %>
     <% @results.each do |item| %>


      <% if item['shop'] == 'Etsy' %>
        <% @name = item['shop']%>
        <% @image = item['Images'].first['url_570xN']%>
        <% @link = item['link'] %>
        <% @price = item['price'] %>
      <% else %>
         <% @image = item[:image] %>
         <% @link = item[:link] %>
         <% @price = item[:price] %>
          <% @name = item[:shop]%>
      <% end %>

    <!-- image with link -->
    <% unless @lastshop==@name %>

        <div class="list newlist" id="<%=@name%>">
      <%else%>
      <div class="list">
    <% end %>
    
      <img class='results-icon' src="<%=BACKUP_PRODUCT_IMAGES[item[:shop]]%>" />
    <a class='results' href="<%=@link%>" target="_blank">

    

      <img class='img_result' src="<%=@image%>" />
     
      <h2>
         <span style='font-weight=700;'><%= @price %> </span>
        <%= item['currency']%>
      </h2>
       <% if item['shop'] == 'Etsy' %>
         <p>Delivered in 
          <span style='font-weight=700;'><%=item['from']%></span> to
          <span style='font-weight=700;'><%=item['to']%></span> days
         </p>
       <% end %>

       <% if item['shop'] == 'Etsy' %>
          <% item["data"].each_pair do |k,v| %>
              <p><%=v%></p>
          <% end %>
        <% else %>
          <p><%=item[:title]%></p>  
        <% end %>

        </a>
    </div>
    <% @lastshop = item['shop'] %>
    <% end %>
  </div>

